{% extends 'layout.html' %}
{% block title %}Api Wars{% endblock %}
{% block script %}<script src='{{ url_for('static', filename='index.js') }}' defer></script>{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Planet list</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Voting statistics</a></li>
            {% if 'username' in session %}
            <li class="nav-item"><a class="nav-link" href="#" id="registration">Registration</a></li>
            <li class="nav-item"><a class="nav-link" href="#" id="login">Login</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}" id="registration">Registration</a></li>
            <li class="nav-item"><a class="nav-link" href="/login" id="login">Login</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="/logout" id="logout">Logout</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if 'username' in session %}
            <li class="nav-item"><span class="glyphicon glyphicon-user"></span> Signed in as {{ session.username }}</li>
            {% else %}
            <li class="nav-item"><span class="glyphicon glyphicon-user"></span> Not signed in </li>
            {% endif %}
        </ul>
  </div>
</nav>
<div class="container-fluid ml-5 mt-3">
        <h1>Star Wars universe planets</h1>
        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" id="prev" data-page="2">Previous</button>
        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" id="next" data-page="1">Next</button>
</div>
<div class="table-padding">
    <table class="table table-hover m-3" id="planets-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Diameter</th>
                <th scope="col">Climate</th>
                <th scope="col">Terrain</th>
                <th scope="col">Surface Water</th>
                <th scope="col">Population</th>
                <th scope="col">Residents</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="planets-tbody">
        </tbody>
    </table>
    <div id="small-window-list" class="inactive">
    </div>
</div>
<div class="modal inactive" id="residents-modal">
    <div class="modal-content">
        <h3 id="modal-table-title"></h3>
        <div class="table-padding">
            <table class="table table-hover m-3" id="modal-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Skin color</th>
                        <th scope="col">Hair color</th>
                        <th scope="col">Eye color</th>
                        <th scope="col">Birth year</th>
                        <th scope="col">Gender</th>
                    </tr>
                </thead>
                <tbody id="modal-table-body">
                </tbody>
            </table>
            <button type="button" id="close-modal-btn">Close</button>
            <div id="small-window-list2" class="inactive">
            </div>
        </div>
    </div>
</div>
{% endblock %}