{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block script %}<script src='{{ url_for('static', filename='register.js') }}' defer></script>{% endblock %}
{% block content %}
<div class="modal" id="user-register-modal">
    <div class="modal-content form">
        <span class="inactive" id="message">Username already taken, please choose a different one</span>
        <form action='{{ url_for('register')}}' method="POST" enctype="multipart/form-data" id="registration-form">
            <label for="username-register"> Username </label>
            <input type="text" id="username-register" name='username-register'  minlength="5" maxlength="10" required>
            <label for="password-register"> Password </label>
            <input type="password" id="password-register" name="password-register" minlength="7">
            <button type="submit" id="register-btn">Register</button>
        </form>
    </div>
</div>
{% endblock %}